$color-1: #915d33; // Cornflower Blue - Action color
$color-2: #19191a; // Dark Blue
$color-3: #e4655f; // Red
$color-4: white; // light grey
$color-5: #849e85;; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red
