// breakpoints
   
$S:     768px;   
$M:     1024px;     
$L:     1600px;   

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

header{
  border: 5px solid black;
  padding: 10px;
}

@media (min-width: $M) {
  .page-wrapper{
    padding: 2em;
  }
  header{
    height: 10em;
    position: relative;
    text-align: center;
    border-bottom: 0px;
  }
  .summary p:first-of-type{
    border: 5px solid black;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0px;
  }
  .summary p:last-of-type{
    margin: 0;
    text-align: right;
  }
  .intro, .main{
    margin-left: 25%;
    margin-right: 25%;
  }
  .sidebar{
    padding: 1em;
    background-color: $color-4;
    border: 2px solid black;
    position: fixed;
    top: 10em;
    width: 20%;
  }
  .intro{
    margin-top: 10em;
  }
  .preamble{
    margin-top: 0;
    border: 5px solid black;
    padding: 1em;
  }
  .preamble > h3{
    text-align: center;
  }
  .main div{
    margin-top: 1em;
    border: 5px solid black;
    padding: 1em;

  }
  footer{
    margin-top: 1em;
    border: 5px solid black;
    padding: 1em;
  }
  .explanation{
    margin-top: 0;
    border: 5px solid black;
    padding: 0;
  }
  abbr {
    height: 0;
    width: 0;
  }
}
