// breakpoints
   
$S:     768px;   
$M:     1024px;     
$L:     1600px;   

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

header{
  border: 5px solid black;
  border-bottom: none;
  padding: 10px;
}
h1, h2 {
  margin-left: 150px;
}

.summary p:first-of-type {
  border: 5px solid black;
  border-top: none;
  margin-top: 0;
  padding: 1em;
}
.preamble, .main div, footer, .explanation{
  border: 5px solid black;
  padding: 1em;
  margin-top: 1em;
}
footer {
  margin-bottom: 5em;
}

@media (min-width: $M) {
  header{
    margin-top: 0;
    height: 10em;
    position: relative;
    text-align: center;
    border-bottom: 0px;
  }
  footer {
    margin-bottom: 1em;
  }
  h2 {
    margin:0;
    margin-left: 150px;
  }
  .summary p:first-of-type{
    text-align: center;
    margin: 0;
    border-top: 0px;
  }
  .summary p:last-of-type{
    margin: 0;
    text-align: right;
  }
  .main{
    margin-left: 25%;
  }
  .sidebar{
    padding: 1em;
    z-index: 2;
    background-color: $color-4;
    border: 2px solid black;
    position: absolute;
    left: .5em;
    top: 20.5em;
    width: 20%;
  }
  .intro{
    margin-top: 0;
  }
  .preamble{
    margin-left: 25%;
  }
  .preamble > h3{
    text-align: center;
  }
  .main div,footer, .explanation{
    margin-top: 1em;
  }
  .explanation{
    margin-top: 0;
    padding: 0;
  }
  abbr {
    height: 0;
    width: 0;
  }
}
