.intro::before {
  content: "";
  background: url("../../assets/icons/logo-tree.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  width: 10em;
  height: 10em;
  position: absolute;
  top: 3em;
  left: 1em;
	
}
@media (min-width: $M){
  .intro::before {left: 3em;}
}