
.summary p:last-of-type{
  background-color: $color-5;
  font-size: small;
}
.summary p:first-of-type{
  background-color: $color-4;
}
.preamble,
.main div,
footer,
.sidebar,
.explanation{
  background-color: $color-4;
}