.intro {
  background-color: $color-4;
}
.summary p:last-of-type{
  background-color: $color-5;
}
  
.preamble{
  background-color: $color-4;
}
.main div{
  background-color: $color-4;
}
footer{
  background-color: $color-4;
}
.explanation{
  background-color: $color-4;
}