header {
    background-color: $color-4;
  }

  @media only screen and (max-width: $M){
.sidebar {
  border: 5px solid $color-1;
  border-bottom: none;
  border-radius: 25px 0 0 0;
  height: 50px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 0;
  transform: translateY(0px);
  transition: height ease-in-out 500ms;
}
.sidebar:hover {
  height: 500px;
}
}