@import "partials/reset";
@import "partials/prefix-mixins";
@import "partials/layout"; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

@import "partials/colors";

@import "partials/back";

@import "partials/logo";

@import "partials/navigation";

@import "partials/typography";

@import "partials/buttons";

@import "partials/icons";

@import "partials/input";

@import "partials/basic-style";
@import 'partials/main';